name: Deploy

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    name: Create new release
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Update release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "themes/vibrant-abyss-zed.json"
