name: Prepeare release

on:
  push:
    branches:
      - main

jobs:
  prepare-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Extract version from commit message
        id: get_version
        run: |
          COMMIT_MSG=$(git log -1 --pretty=%B)
          if [[ $COMMIT_MSG =~ (v[0-9]+\.[0-9]+\.[0-9]+) ]]; then
            TAG="${BASH_REMATCH[1]}"
            VERSION="${TAG#v}"
            echo "tag=$TAG" >> $GITHUB_OUTPUT
            echo "version=$VERSION" >> $GITHUB_OUTPUT
          else
            echo "No version pattern found in latest commit message. Skipping."
            exit 0
          fi

      - name: Edit Toml
        uses: ciiiii/toml-editor@1.0.0
        with:
          file: "extension.toml"
          key: "version"
          value: "${{ steps.get_version.outputs.version }}"

      - name: Create tag, commit and push changes
        if: steps.get_version.outputs.version != ''
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add package.json
          git commit -m "Release ${{ steps.get_version.outputs.full_tag }}"

          git tag ${{ steps.get_version.outputs.full_tag }}
          git push origin main && git push --tags
